Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Patient" 
xmlns:tns="http://www.example.org/Patient" elementFormDefault="qualified">
	<element name="patient" type="tns:Patient"/>
	<complexType name="Patient">
		<sequence>
			<element name="id" type="int" />
			<element name="name" type="tns:nameStartswithA" />
			<element name="age" type="int" />
		</sequence>
	</complexType>
	
	<simpleType name="nameStartswithA">
		<restriction base="string">
			<pattern value="a[a-z]*"></pattern>
		</restriction>
	</simpleType>
</schema>